@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
  font-family: 'Inter', sans-serif;
}


.gslhead{
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}